html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
	color:#000;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;	
}

.navbar{
	background-color:rgba(0,0,0,0.65);
	border-color: rgba(0,0,0,0.65);
  box-sizing: border-box;
}

.navbar-nav{
	float:right;
	background-color:rgba(0,0,0,0);
  margin-right: 1px;
}


.banner-wrapper {
  width: 100%;
  position: relative;
}

/* CSS for image carousel */
@media (max-width: 767px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
         width: 100%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: 450px;
    }
    .slider-size > img {
        width: 100%;
    }
}

/* laptops */

@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
         height: 590px;
    }
    .slider-size > img {
        width: 100%;
        height: 100%;
    }
}

/* desktops */
@media (max-width: 1220px) and (min-width: 1024px)  {
    .slider-size {
        height: 600px;
    }
    .slider-size > img {
        width: 100%;
    }
}
@media (max-width: 1379px) and (min-width: 1221px)  {
    .slider-size {
        height: 730px;
    }
    .slider-size > img {
        width: 100%;
    }
}
@media (min-width: 1380px) {
    .slider-size {
        height: 800px;
    }
    .slider-size > img {
        width: 100%;
    }
}

/* End of code for image carousel */
.absolute-wrapper{
  position: absolute;
  width:100%;
  top:50%; 
}

.container {
  text-align: center;
}

#intro{
  margin-top: -10em;
  color:#fff;

}

#title{
	text-align: center;
	margin-bottom: 1em;

}

#profile_photo{
	width:320px;
	border-radius: 50%;
	float:left;
  object-fit: cover;
  -webkit-clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}

#contact{
	background-color: #000;
	color:#fff;
}

/*Social media buttons*/
.fa {
	margin-right:3px;
	margin-bottom: 5px;
}
.fa-facebook-square{
	color:#fff;
	content: "\f082";
}

.fa-facebook-square:hover{
	color:#cc3123;
}


.fa-linkedin-square{
	color:#fff;
  content: "\f08c";
}
.fa-linkedin-square:hover{
	color:#cc3123;
}

.fa-github-square{
	color:#fff;
  content: "\f092";
}
.fa-github-square:hover{
	color:#cc3123;
}
.fa-envelope{
	color:#fff;
	content:"\f0e0";
	font-size:36px;
}
.fa-envelope:hover{
	color:#cc3123;
}

/* Button CSS */
/*reseting button setting because browser differences*/
button {
  display:inline-block;
  margin-top: 2em;
  padding: 5px 15px;
  font-size: 20px;
  font-family: sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  margin-bottom: 1em;
}

button:focus {
  outline: none
}

section.flat button {
  color: #cc3123;
  background: rgba(0,0,0,0);
  border: solid 1.5px #cc3123;
}

section.flat button:hover,
section.flat button.hover {
  background: #cc3123 ;
  border:none;
  color:#fff;
}

section.flat button:active,
section.flat button.active {
  background: #cc3123 ;
  border:none;
  color:#fff;
  text-shadow: -0.5px 0.5px #193047;
}
